code {
  color: $color-primary-light;
  background-color: lighten($gray-light, 10%);
  border-radius: $base-border-radius;
  padding: 2px 0.3rem;
  white-space: nowrap;
  font-size: 16px;
}

pre {
  margin: 0;

  code {
    white-space: pre-wrap;
    font-family: $mono-font-family;
    overflow: scroll;
  }
}
