// Main color variables

$color-primary: #3F51B5;
$color-primary-dark: #303F9F;
$color-primary-light: #C5CAE9;
$color-accent: #FF5252;
$color-divider: #BDBDBD;
$color-text-light: #FEFEFE;
$color-text-dark: #212121;
$color-text-secondary: #757575;
