// Main color variables

$color-primary: #3f51b5;
$color-primary-dark: #303f9f;
$color-primary-light: #c5cae9;
$color-success: #1faa00;
$color-warning: #fdd835;
$color-danger: #d32f2f;
$color-accent: #ff5252;

// Other colors
$white: #ffffff;
$offwhite: #eeeeee;
$gray-light: #cdcdcd;
$gray: #757575;
$gray-dark: #212121;

// Design styles (move to different file)
$base-border-radius: 0.2rem;
