// Design styles
$base-border-radius: 0.1rem;
$base-transition-time: 200ms;

// Responsive breakpoints
$breakpoint-xs: 415px;
$breakpoint-sm: 769px;
$breakpoint-md: 1001px;
$breakpoint-lg: 1201px;
