.grid {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;

  @media (min-width: $breakpoint-sm) {
    flex-direction: row;
  }
}

@mixin column {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem;

  @media (min-width: $breakpoint-sm) {
    flex-basis: auto;
  }

  &:not(:last-child) {
    padding-bottom: 0;
  }
}

.column {
  @include column;
}

.half {
  @media (min-width: $breakpoint-sm) {
    flex: none;
    width: 50%;
  }
  @include column;
}

.one-third {
  @media (min-width: $breakpoint-sm) {
    flex: none;
    width: 33.333%;
  }
  @include column;
}

.two-thirds {
  @media (min-width: $breakpoint-sm) {
    flex: none;
    width: 66.666%;
  }
  @include column;
}

.one-fourth {
  @media (min-width: $breakpoint-sm) {
    flex: none;
    width: 25%;
  }
  @include column;
}

.three-fourths {
  @media (min-width: $breakpoint-sm) {
    flex: none;
    width: 75%;
  }
  @include column;
}

$columns: 12;
@mixin col-nums {
  @for $i from 1 through $columns {
    .col-#{$i} {
      @media (min-width: $breakpoint-sm) {
        flex: none;
        width: percentage($i/12);
      }
      @include column;
    }
  }
}
@include col-nums;

@mixin offset-cols {
  @for $i from 1 through ($columns - 1) {
    .offset-#{$i} {
      @media (min-width: $breakpoint-sm) {
        margin-left: percentage($i/12);
      }
    }
  }
}
@include offset-cols;
