.container {
  margin-left: 2rem;
  margin-right: 2rem;
  max-width: $breakpoint-lg - 1;

  @media (min-width: $breakpoint-lg) {
    width: $breakpoint-lg;
    margin-left: auto;
    margin-right: auto;
  }
}

.container-fluid {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.container.flex,
.container-fluid.flex {
  display: flex;
}

.hero {
  padding: 2rem;
}

.stacked {
  display: flex;
  flex-direction: column;
}
