.container {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  max-width: 1200px;

  @media (min-width: $breakpoint-lg) {
    margin-left: auto;
    margin-right: auto;
  }
}

.container-fluid {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.container.flex,
.container-fluid.flex {
  display: flex;
}
