.primary {
  background-color: $color-primary;
  color: $white;
}

.secondary {
  background-color: $gray-light;
  color: $gray-dark;
}

.success {
  background-color: $color-success;
  color: $white;
}

.warning {
  background-color: $color-warning;
  color: $white;
}

.danger {
  background-color: $color-danger;
  color: $white;
}
