.navbar {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;

  ul {
    margin: 0;
    padding: 0.5rem;

    li {
      display: inline-block;
      padding: 0 0.5rem;

      a {
        color: inherit;
        padding: 0.5rem;
        text-decoration: none;

        &:visited,
        &:active {
          color: inherit;
        }
      }
    }

    &.right {
      margin-left: auto;
    }
  }

  &.primary {
    background-color: $color-primary;
    ul li a:hover {
      color: darken($white, 10%);
    }
  }

  .field-inline {
    padding: 0;
    margin-right: 0;
  }

  button,
  div button {
    box-shadow: none;
  }

  .brand {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem;
  }

  &:last-child {
    padding-right: 1rem;
  }
}

.right {
  margin-left: auto;
  display: flex;
}
