@mixin navbar-modifier($modifier) {
  $color: map-get($colorMap, $modifier);
  &.#{$modifier} {
    background-color: $color;
    ul li a:hover {
      color: darken(map-get($modifierColorMap, $modifier), 10%);
    }
  }
}

.navbar {
  display: flex;
  align-items: center;

  ul {
    margin: 0;

    li {
      display: inline-block;
      padding: 0.75rem 0.5rem;

      a {
        color: inherit;
        padding: 0.75rem 0.5rem 0.75rem 0.5rem;
        text-decoration: none;

        &:visited,
        &:active {
          color: inherit;
        }

        &.active {
          font-weight: bold;
          padding-bottom: 0.55rem;
          border-bottom: 0.2rem solid $white;
        }
      }
    }

    &.right {
      margin-left: auto;
    }
  }

  @include navbar-modifier("primary");
  @include navbar-modifier("secondary");
  @include navbar-modifier("success");
  @include navbar-modifier("warning");
  @include navbar-modifier("danger");

  .field-inline {
    padding: 0;
    margin-right: 0;
  }

  button,
  div button {
    box-shadow: none;
  }

  .brand {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem;
  }

  &:last-child {
    padding-right: 1rem;
  }
}

.right {
  margin-left: auto;
  display: flex;
}
