@mixin navbar-modifier($modifier) {
  $color: map-get($colorMap, $modifier);
  &.#{$modifier} {
    background-color: $color;
    ul li a:hover {
      color: darken(map-get($modifierColorMap, $modifier), 10%);
    }
  }
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1rem;

  ul {
    flex-grow: 1;
    flex-basis: 100%;
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      padding: 0.75rem 0.5rem;
      border-bottom: 1px solid $gray-light;

      a {
        color: inherit;
        padding: 0.75rem 0.5rem 0.75rem 0.5rem;
        text-decoration: none;

        &:visited,
        &:active {
          color: inherit;
        }

        &.active {
          font-weight: bold;
          margin-left: -0.5rem;
          padding-left: 0.8rem;
          border-left: 0.2rem solid $white;
        }
      }
    }

    &.right {
      margin-left: auto;
    }
  }

  @include navbar-modifier("primary");
  @include navbar-modifier("secondary");
  @include navbar-modifier("success");
  @include navbar-modifier("warning");
  @include navbar-modifier("danger");

  .field-inline {
    padding: 0;
    margin-right: 0;
  }

  button,
  div button {
    box-shadow: none;
  }

  .brand {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .right {
    margin-left: inherit;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .field-inline,
  div.field-inline {
    flex-grow: 1;

    .input,
    .attached .input {
      width: 100%;
      flex-basis: 0;
      flex-grow: 1;
    }
  }

  div.right {
    display: flex;
    flex-grow: 1;
    flex-basis: 100%;
  }

  @media (min-width: 769px) {
    flex-wrap: nowrap;

    .brand {
      margin-left: inherit;
      margin-right: inherit;
    }

    ul {
      flex-grow: 0;
      flex-basis: auto;

      li {
        display: inline-block;
        border: 0;

        a.active {
          margin-left: 0;
          padding-left: inherit;
          padding-bottom: 0.55rem;
          border-bottom: 0.2rem solid $white;
          border-left: 0;
        }
      }
    }

    .right,
    div.right {
      display: flex;
      flex-basis: auto;
      justify-content: flex-end;

      .field-inline {
        flex-grow: 0;

        .input,
        .attached .input {
          max-width: 217px;
        }
      }
    }
  }
}
