@import "colors";
@import "config";

@import "buttons";
@import "cards";
@import "content";
@import "grid";
@import "layout";
@import "menu";
@import "modifiers";
@import "nav";
@import "section";
@import "typography";

html {
  font-size: 16px;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
