@import "colors";
@import "config";

@import "buttons";
@import "cards";
@import "code";
@import "content";
@import "forms";
@import "grid";
@import "layout";
@import "menu";
@import "modifiers";
@import "nav";
@import "section";
@import "tables";
@import "typography";

html {
  font-size: 18px;
  font-family: $base-font-family;
  box-sizing: border-box;
  // Avoid resizing content due to scrollbar
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

p {
  line-height: 1.6;
}
