@import "colors";
@import "config";

.col-example {
  padding: 0.5rem;
  margin: 0.25rem;
  background-color: $color-primary;
  color: $white;
}

.docs {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.docs-container {
  display: flex;
  flex: 1 0 auto;
  background-color: $white;
  margin: 0;
  border-top: 0.5rem solid $white;

  @media (min-width: $breakpoint-sm) {
    border-top: 0;
  }
}

.docs-menu {
  min-width: 200px;

  aside {
    width: 200px;
  }

  .sticky {
    position: relative;
    @media (min-width: $breakpoint-sm) {
      position: fixed;
    }
  }
}

.docs-content {
  padding: 1rem;
}

html {
  height: 100%;
  background-color: $gray-light;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

$content-shadow-size: 24px;
.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;

  &::before {
    box-shadow: (-$content-shadow-size) 0 $content-shadow-size (-$content-shadow-size) $gray inset;
    content: " ";
    height: 100%;
    left: -($content-shadow-size);
    position: absolute;
    top: 0;
    width: $content-shadow-size;
  }

  &::after {
    box-shadow: $content-shadow-size 0 $content-shadow-size (-$content-shadow-size) $gray inset;
    content: " ";
    height: 100%;
    right: -($content-shadow-size);
    position: absolute;
    top: 0;
    width: $content-shadow-size;
  }
}

footer {
  height: 40px;
  background-color: $color-primary;
}

.fixed-400 {
  width: 400px;
}
