include ../mixins/mixins

doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="css/cardy.css")
    title Cardy - Small CSS Framework

  body
    nav
      ul
        li
          +link("components.html", 'Components')

    block content
