include ../mixins/mixins

doctype html
html(lang="en")
  head
    script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Libre+Baskerville|Source+Code+Pro")
    link(rel="stylesheet" href="css/cardy.css")
    link(rel="stylesheet" href="css/docs.css")
    title Cardy - Small CSS Framework

  body
    .content
      .hero.primary
        h1 #[+link("index.html", "Cardy")]
        h4 A simple but opinionated CSS framework
      .container.docs-container.grid
        .docs-content.column
          block content
        .docs-menu.col-2
          aside.menu.sticky
            p.menu-header Layout
            ul
              li
                +link("container.html", "Container")
              li
                +link("section.html", "Section")
            p.menu-header Components
            ul
              li
                +link("buttons.html", "Buttons")
              li
                +link("cards.html", "Cards")
              li
                +link("code.html", "Code")
              li
                +link("forms.html", "Forms")
              li
                +link("grid.html", "Grid")
              li
                +link("menu.html", "Menu")
              li
                +link("nav.html", "Nav")
              li
                +link("typography.html", "Typography")
    footer


script.
  hljs.initHighlightingOnLoad();
