include ../mixins/mixins

doctype html
html(lang="en")
  head
    script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Libre+Baskerville|Source+Code+Pro")
    link(rel="stylesheet" href="css/cardio.css")
    link(rel="stylesheet" href="css/docs.css")
    title Cardio - Small CSS Framework

  body
    .container.docs
      .content
        .hero.primary
          h1 #[+link("index.html", "Cardio")]
          h4 A simple but opinionated CSS framework
        .grid.docs-container
          .column.up-to-sm
            p Test menu
          .docs-content.column
            block content
          .docs-menu.col-2.at-least-sm
            aside.menu.sticky
              p.menu-header Layout
              ul
                li
                  +link("container.html", "Container")
                li
                  +link("section.html", "Section")
              p.menu-header Components
              ul
                li
                  +link("buttons.html", "Buttons")
                li
                  +link("cards.html", "Cards")
                li
                  +link("code.html", "Code")
                li
                  +link("forms.html", "Forms")
                li
                  +link("grid.html", "Grid")
                li
                  +link("media.html", "Media")
                li
                  +link("menu.html", "Menus")
                li
                  +link("nav.html", "Nav")
                li
                  +link("tables.html", "Tables")
                li
                  +link("typography.html", "Typography")
                li
                  +link("utilities.html", "Utilities")
        footer


script.
  hljs.initHighlightingOnLoad();
