button {
  align-self: flex-start;
  display: inline-flex;
  padding: 0.5rem 1rem;
  text-align: center;
  margin: 0.2rem;
  font-size: 14px;
  border: 1px solid #cdcdcd;
  border-radius: 0.1rem;
  box-shadow: 0 2px 2px 0 rgba(205, 205, 205, 0.75);
  transition: all 200ms ease-in-out;
  background-color: #ffffff; }
  button[disabled] {
    cursor: not-allowed;
    opacity: 0.6; }
  button:hover {
    background-color: #e6e6e6; }

button.primary {
  border-color: #3f51b5; }
  button.primary.outlined {
    color: #3f51b5;
    background-color: inherit; }
    button.primary.outlined[disabled]:hover {
      color: #3f51b5;
      background-color: inherit; }
    button.primary.outlined:hover {
      background-color: #3f51b5;
      color: #ffffff; }
  button.primary[disabled]:hover {
    background-color: #3f51b5; }
  button.primary:hover {
    background-color: #32408f; }

button.secondary {
  border-color: #cdcdcd; }
  button.secondary.outlined {
    color: #cdcdcd;
    background-color: inherit; }
    button.secondary.outlined[disabled]:hover {
      color: #cdcdcd;
      background-color: inherit; }
    button.secondary.outlined:hover {
      background-color: #cdcdcd;
      color: #ffffff; }
  button.secondary[disabled]:hover {
    background-color: #cdcdcd; }
  button.secondary:hover {
    background-color: #b4b4b4; }

button.success {
  border-color: #1faa00; }
  button.success.outlined {
    color: #1faa00;
    background-color: inherit; }
    button.success.outlined[disabled]:hover {
      color: #1faa00;
      background-color: inherit; }
    button.success.outlined:hover {
      background-color: #1faa00;
      color: #ffffff; }
  button.success[disabled]:hover {
    background-color: #1faa00; }
  button.success:hover {
    background-color: #167700; }

button.warning {
  border-color: #fdd835; }
  button.warning.outlined {
    color: #fdd835;
    background-color: inherit; }
    button.warning.outlined[disabled]:hover {
      color: #fdd835;
      background-color: inherit; }
    button.warning.outlined:hover {
      background-color: #fdd835;
      color: #ffffff; }
  button.warning[disabled]:hover {
    background-color: #fdd835; }
  button.warning:hover {
    background-color: #fdce03; }

button.danger {
  border-color: #d32f2f; }
  button.danger.outlined {
    color: #d32f2f;
    background-color: inherit; }
    button.danger.outlined[disabled]:hover {
      color: #d32f2f;
      background-color: inherit; }
    button.danger.outlined:hover {
      background-color: #d32f2f;
      color: #ffffff; }
  button.danger[disabled]:hover {
    background-color: #d32f2f; }
  button.danger:hover {
    background-color: #ab2424; }

button.small {
  font-size: 0.75rem;
  padding: 0.25rem 1rem; }

button.large {
  font-size: 1.5rem; }

button.xlarge {
  font-size: 2rem; }

.grouped button {
  margin-right: -1px;
  margin-left: 0;
  border-radius: 0; }
  .grouped button:first-child {
    border-top-left-radius: 0.1rem;
    border-bottom-left-radius: 0.1rem; }
  .grouped button:last-child {
    border-top-right-radius: 0.1rem;
    border-bottom-right-radius: 0.1rem; }

.card {
  background-color: #ffffff;
  border: 1px solid rgba(117, 117, 117, 0.2);
  border-radius: 0.1rem;
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column; }

.card-fixed {
  width: 400px; }

.card-header {
  padding: 1rem;
  flex-grow: 1;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1); }
  .card-header h1,
  .card-header h2,
  .card-header h3,
  .card-header h4,
  .card-header h5,
  .card-header h6 {
    margin: 0; }

.card img {
  max-width: 100%;
  align-self: center;
  padding: 0; }

.card-body {
  flex-grow: 1;
  padding: 1rem; }

.card-footer {
  flex-grow: 1;
  padding: 1rem; }

.card-buttons {
  padding-top: 1rem;
  display: flex;
  text-align: center; }
  .card-buttons button {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-basis: auto;
    margin: 0 -1px 0 0;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border: 1px solid rgba(117, 117, 117, 0.2); }
    .card-buttons button:first-child {
      margin-left: -1px; }

code {
  color: #6f83f2;
  background-color: #e7e7e7;
  border-radius: 0.1rem;
  padding: 2px 0.3rem;
  white-space: nowrap;
  font-size: 16px; }

pre {
  margin: 0; }
  pre code {
    white-space: pre-wrap;
    font-family: "Source Code Pro", monospace;
    overflow: scroll; }

.block {
  display: flex; }

form {
  display: flex;
  flex-direction: column; }

.label {
  display: block;
  flex-grow: 1;
  margin-bottom: 0.5rem;
  font-weight: 600; }

.input {
  display: block;
  height: 2rem;
  font-size: 16px;
  margin: 0;
  padding: 0.2rem 0.4rem;
  border: 1px solid #cdcdcd;
  border-radius: 0.1rem;
  transition: 200ms all ease-in-out; }
  .input:hover {
    box-shadow: 0 0 2px #3f51b5; }
  .input:focus {
    border: 1px solid #3f51b5;
    outline: none; }
  .input[disabled] {
    cursor: not-allowed; }
    .input[disabled]:hover {
      box-shadow: none; }

.helper {
  padding: 0.5rem 0; }

.validation {
  padding: 0.75rem 0 0.5rem 0; }
  .validation ~ .helper {
    padding-top: 0; }

.field {
  padding: 0.75rem;
  display: flex;
  flex-direction: column; }
  .field.primary {
    background-color: inherit;
    color: #32408f; }
    .field.primary input {
      border-color: #3f51b5;
      background-color: rgba(63, 81, 181, 0.05); }
      .field.primary input:hover {
        box-shadow: 0 0 2px #3f51b5; }
    .field.primary .helper {
      color: initial; }
  .field.success {
    background-color: inherit;
    color: #167700; }
    .field.success input {
      border-color: #1faa00;
      background-color: rgba(31, 170, 0, 0.05); }
      .field.success input:hover {
        box-shadow: 0 0 2px #1faa00; }
    .field.success .helper {
      color: initial; }
  .field.warning {
    background-color: inherit;
    color: #fdce03; }
    .field.warning input {
      border-color: #fdd835;
      background-color: rgba(253, 216, 53, 0.05); }
      .field.warning input:hover {
        box-shadow: 0 0 2px #fdd835; }
    .field.warning .helper {
      color: initial; }
  .field.danger {
    background-color: inherit;
    color: #ab2424; }
    .field.danger input {
      border-color: #d32f2f;
      background-color: rgba(211, 47, 47, 0.05); }
      .field.danger input:hover {
        box-shadow: 0 0 2px #d32f2f; }
    .field.danger .helper {
      color: initial; }

.field-inline {
  padding: 0.75rem;
  margin-right: -1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .field-inline.primary {
    background-color: inherit;
    color: #32408f; }
    .field-inline.primary input {
      border-color: #3f51b5;
      background-color: rgba(63, 81, 181, 0.05); }
      .field-inline.primary input:hover {
        box-shadow: 0 0 2px #3f51b5; }
    .field-inline.primary .helper {
      color: initial; }
  .field-inline.success {
    background-color: inherit;
    color: #167700; }
    .field-inline.success input {
      border-color: #1faa00;
      background-color: rgba(31, 170, 0, 0.05); }
      .field-inline.success input:hover {
        box-shadow: 0 0 2px #1faa00; }
    .field-inline.success .helper {
      color: initial; }
  .field-inline.warning {
    background-color: inherit;
    color: #fdce03; }
    .field-inline.warning input {
      border-color: #fdd835;
      background-color: rgba(253, 216, 53, 0.05); }
      .field-inline.warning input:hover {
        box-shadow: 0 0 2px #fdd835; }
    .field-inline.warning .helper {
      color: initial; }
  .field-inline.danger {
    background-color: inherit;
    color: #ab2424; }
    .field-inline.danger input {
      border-color: #d32f2f;
      background-color: rgba(211, 47, 47, 0.05); }
      .field-inline.danger input:hover {
        box-shadow: 0 0 2px #d32f2f; }
    .field-inline.danger .helper {
      color: initial; }
  .field-inline .input,
  .field-inline .select,
  .field-inline .checkbox,
  .field-inline .radio-buttons,
  .field-inline button {
    margin-right: 1rem; }
  .field-inline .checkbox,
  .field-inline .radio-buttons .radio {
    padding-bottom: 0; }
    .field-inline .checkbox::after,
    .field-inline .radio-buttons .radio::after {
      margin-top: -5px; }
  .field-inline label {
    margin: 0; }

.attached {
  display: flex;
  flex-direction: row;
  flex-grow: 1; }
  .attached .input,
  .attached .select,
  .attached .checkbox,
  .attached .radio-buttons,
  .attached button {
    border-radius: 0;
    margin: 0; }
  .attached button {
    margin-left: -1px;
    box-shadow: none; }
  .attached button:first-child,
  .attached input:first-child {
    border-top-left-radius: 0.1rem;
    border-bottom-left-radius: 0.1rem; }
  .attached button:last-child,
  .attached input:last-child {
    border-top-right-radius: 0.1rem;
    border-bottom-right-radius: 0.1rem; }
  .attached input {
    align-self: stretch;
    height: auto; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #cdcdcd;
  border-radius: 0.1rem;
  background-color: #ffffff;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  z-index: 1;
  transition: 200ms all ease-in-out; }
  select:hover {
    box-shadow: 0 0 2px #3f51b5; }
  select:focus {
    border: 1px solid #3f51b5;
    outline: none; }
  select[disabled] {
    cursor: not-allowed; }
    select[disabled]:hover {
      box-shadow: none; }

.select {
  flex-grow: 0;
  align-self: flex-start;
  position: relative; }
  .select::after {
    position: absolute;
    border: 1px solid #3f51b5;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.5rem;
    width: 0.5rem;
    pointer-events: none;
    transform: rotate(-45deg);
    right: 1rem;
    top: 50%;
    margin-top: -0.375rem;
    z-index: 4; }

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 0 0.5rem 0.5rem 0;
  white-space: nowrap; }
  .checkbox input {
    margin: 2px 0 0 0;
    flex-grow: 0;
    align-self: flex-start;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 0.1rem;
    transition: 200ms all ease-in-out; }
    .checkbox input:hover {
      box-shadow: 0 0 2px #3f51b5; }
    .checkbox input:focus {
      border-color: #3f51b5;
      outline: none; }
    .checkbox input:checked {
      border-color: #3f51b5;
      background-color: #3f51b5;
      outline: none; }
      .checkbox input:checked:hover {
        background-color: #32408f; }
      .checkbox input:checked:focus {
        box-shadow: 0 0 2px #3f51b5; }
    .checkbox input[disabled] {
      cursor: not-allowed; }
      .checkbox input[disabled]:hover {
        box-shadow: none; }
  .checkbox .label {
    display: inline-flex;
    margin-bottom: 0;
    margin-left: 0.5rem;
    font-weight: normal; }
  .checkbox::after {
    position: absolute;
    border: 2px solid #ffffff;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.35rem;
    width: 0.75rem;
    pointer-events: none;
    transform: rotate(-45deg);
    left: 2px;
    top: 50%;
    margin-top: -10px;
    z-index: 4; }

.radio-buttons {
  display: flex;
  flex-direction: row; }
  .radio-buttons.stacked {
    flex-direction: column; }

.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 0;
  align-self: flex-start;
  position: relative;
  padding: 0 1.5rem 0.5rem 0; }
  .radio input {
    margin: 3px 0 0 0;
    flex-grow: 0;
    align-self: flex-start;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 1rem;
    transition: 200ms all ease-in-out; }
    .radio input:hover {
      box-shadow: 0 0 2px #3f51b5; }
    .radio input:focus {
      border-color: #3f51b5;
      outline: none; }
    .radio input:checked {
      border-color: #3f51b5;
      background-color: #3f51b5;
      outline: none; }
      .radio input:checked:hover {
        background-color: #32408f; }
      .radio input:checked:focus {
        box-shadow: 0 0 2px #3f51b5; }
    .radio input[disabled] {
      cursor: not-allowed; }
      .radio input[disabled]:hover {
        box-shadow: none; }
  .radio .label {
    display: inline-flex;
    margin-bottom: 0;
    margin-left: 0.5rem;
    font-weight: normal;
    white-space: nowrap; }
  .radio::after {
    position: absolute;
    background-color: #ffffff;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 0.5rem;
    pointer-events: none;
    left: 4px;
    top: 50%;
    margin-top: -9px;
    z-index: 4; }

textarea {
  min-height: 6rem;
  border-radius: 0.1rem;
  display: block;
  flex: 1 1 auto;
  width: 100%;
  height: 2rem;
  font-size: 16px;
  margin: 0;
  padding: 0.4rem;
  border: 1px solid #cdcdcd;
  border-radius: 0.1rem;
  transition: 200ms all ease-in-out; }
  textarea:hover {
    box-shadow: 0 0 2px #3f51b5; }
  textarea:focus {
    border: 1px solid #3f51b5;
    outline: none; }

.grid {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem; }
  @media (min-width: 769px) {
    .grid {
      flex-direction: row; } }

.column {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .column {
      flex-basis: auto; } }
  .column:not(:last-child) {
    padding-bottom: 0; }

.half {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .half {
      flex: none;
      width: 50%; } }
  @media (min-width: 769px) {
    .half {
      flex-basis: auto; } }
  .half:not(:last-child) {
    padding-bottom: 0; }

.one-third {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .one-third {
      flex: none;
      width: 33.333%; } }
  @media (min-width: 769px) {
    .one-third {
      flex-basis: auto; } }
  .one-third:not(:last-child) {
    padding-bottom: 0; }

.two-thirds {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .two-thirds {
      flex: none;
      width: 66.666%; } }
  @media (min-width: 769px) {
    .two-thirds {
      flex-basis: auto; } }
  .two-thirds:not(:last-child) {
    padding-bottom: 0; }

.one-fourth {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .one-fourth {
      flex: none;
      width: 25%; } }
  @media (min-width: 769px) {
    .one-fourth {
      flex-basis: auto; } }
  .one-fourth:not(:last-child) {
    padding-bottom: 0; }

.three-fourths {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .three-fourths {
      flex: none;
      width: 75%; } }
  @media (min-width: 769px) {
    .three-fourths {
      flex-basis: auto; } }
  .three-fourths:not(:last-child) {
    padding-bottom: 0; }

.col-1 {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-1 {
      flex: none;
      width: 8.33333%; } }
  @media (min-width: 769px) {
    .col-1 {
      flex-basis: auto; } }
  .col-1:not(:last-child) {
    padding-bottom: 0; }

.col-1-sm {
  flex: none;
  width: 8.33333%;
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-1-sm {
      flex-basis: auto; } }
  .col-1-sm:not(:last-child) {
    padding-bottom: 0; }

.col-1-md {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-1-md {
      flex: none;
      width: 8.33333%; } }
  @media (min-width: 769px) {
    .col-1-md {
      flex-basis: auto; } }
  .col-1-md:not(:last-child) {
    padding-bottom: 0; }

.col-1-lg {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 1001px) {
    .col-1-lg {
      flex: none;
      width: 8.33333%; } }
  @media (min-width: 769px) {
    .col-1-lg {
      flex-basis: auto; } }
  .col-1-lg:not(:last-child) {
    padding-bottom: 0; }

.col-1-lg {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 1401px) {
    .col-1-lg {
      flex: none;
      width: 8.33333%; } }
  @media (min-width: 769px) {
    .col-1-lg {
      flex-basis: auto; } }
  .col-1-lg:not(:last-child) {
    padding-bottom: 0; }

.col-2 {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-2 {
      flex: none;
      width: 16.66667%; } }
  @media (min-width: 769px) {
    .col-2 {
      flex-basis: auto; } }
  .col-2:not(:last-child) {
    padding-bottom: 0; }

.col-2-sm {
  flex: none;
  width: 16.66667%;
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-2-sm {
      flex-basis: auto; } }
  .col-2-sm:not(:last-child) {
    padding-bottom: 0; }

.col-2-md {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-2-md {
      flex: none;
      width: 16.66667%; } }
  @media (min-width: 769px) {
    .col-2-md {
      flex-basis: auto; } }
  .col-2-md:not(:last-child) {
    padding-bottom: 0; }

.col-2-lg {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 1001px) {
    .col-2-lg {
      flex: none;
      width: 16.66667%; } }
  @media (min-width: 769px) {
    .col-2-lg {
      flex-basis: auto; } }
  .col-2-lg:not(:last-child) {
    padding-bottom: 0; }

.col-2-lg {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 1401px) {
    .col-2-lg {
      flex: none;
      width: 16.66667%; } }
  @media (min-width: 769px) {
    .col-2-lg {
      flex-basis: auto; } }
  .col-2-lg:not(:last-child) {
    padding-bottom: 0; }

.col-3 {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-3 {
      flex: none;
      width: 25%; } }
  @media (min-width: 769px) {
    .col-3 {
      flex-basis: auto; } }
  .col-3:not(:last-child) {
    padding-bottom: 0; }

.col-3-sm {
  flex: none;
  width: 25%;
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-3-sm {
      flex-basis: auto; } }
  .col-3-sm:not(:last-child) {
    padding-bottom: 0; }

.col-3-md {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-3-md {
      flex: none;
      width: 25%; } }
  @media (min-width: 769px) {
    .col-3-md {
      flex-basis: auto; } }
  .col-3-md:not(:last-child) {
    padding-bottom: 0; }

.col-3-lg {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 1001px) {
    .col-3-lg {
      flex: none;
      width: 25%; } }
  @media (min-width: 769px) {
    .col-3-lg {
      flex-basis: auto; } }
  .col-3-lg:not(:last-child) {
    padding-bottom: 0; }

.col-3-lg {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 1401px) {
    .col-3-lg {
      flex: none;
      width: 25%; } }
  @media (min-width: 769px) {
    .col-3-lg {
      flex-basis: auto; } }
  .col-3-lg:not(:last-child) {
    padding-bottom: 0; }

.col-4 {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-4 {
      flex: none;
      width: 33.33333%; } }
  @media (min-width: 769px) {
    .col-4 {
      flex-basis: auto; } }
  .col-4:not(:last-child) {
    padding-bottom: 0; }

.col-4-sm {
  flex: none;
  width: 33.33333%;
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-4-sm {
      flex-basis: auto; } }
  .col-4-sm:not(:last-child) {
    padding-bottom: 0; }

.col-4-md {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-4-md {
      flex: none;
      width: 33.33333%; } }
  @media (min-width: 769px) {
    .col-4-md {
      flex-basis: auto; } }
  .col-4-md:not(:last-child) {
    padding-bottom: 0; }

.col-4-lg {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 1001px) {
    .col-4-lg {
      flex: none;
      width: 33.33333%; } }
  @media (min-width: 769px) {
    .col-4-lg {
      flex-basis: auto; } }
  .col-4-lg:not(:last-child) {
    padding-bottom: 0; }

.col-4-lg {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 1401px) {
    .col-4-lg {
      flex: none;
      width: 33.33333%; } }
  @media (min-width: 769px) {
    .col-4-lg {
      flex-basis: auto; } }
  .col-4-lg:not(:last-child) {
    padding-bottom: 0; }

.col-5 {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-5 {
      flex: none;
      width: 41.66667%; } }
  @media (min-width: 769px) {
    .col-5 {
      flex-basis: auto; } }
  .col-5:not(:last-child) {
    padding-bottom: 0; }

.col-5-sm {
  flex: none;
  width: 41.66667%;
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-5-sm {
      flex-basis: auto; } }
  .col-5-sm:not(:last-child) {
    padding-bottom: 0; }

.col-5-md {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-5-md {
      flex: none;
      width: 41.66667%; } }
  @media (min-width: 769px) {
    .col-5-md {
      flex-basis: auto; } }
  .col-5-md:not(:last-child) {
    padding-bottom: 0; }

.col-5-lg {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 1001px) {
    .col-5-lg {
      flex: none;
      width: 41.66667%; } }
  @media (min-width: 769px) {
    .col-5-lg {
      flex-basis: auto; } }
  .col-5-lg:not(:last-child) {
    padding-bottom: 0; }

.col-5-lg {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 1401px) {
    .col-5-lg {
      flex: none;
      width: 41.66667%; } }
  @media (min-width: 769px) {
    .col-5-lg {
      flex-basis: auto; } }
  .col-5-lg:not(:last-child) {
    padding-bottom: 0; }

.col-6 {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-6 {
      flex: none;
      width: 50%; } }
  @media (min-width: 769px) {
    .col-6 {
      flex-basis: auto; } }
  .col-6:not(:last-child) {
    padding-bottom: 0; }

.col-6-sm {
  flex: none;
  width: 50%;
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-6-sm {
      flex-basis: auto; } }
  .col-6-sm:not(:last-child) {
    padding-bottom: 0; }

.col-6-md {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-6-md {
      flex: none;
      width: 50%; } }
  @media (min-width: 769px) {
    .col-6-md {
      flex-basis: auto; } }
  .col-6-md:not(:last-child) {
    padding-bottom: 0; }

.col-6-lg {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 1001px) {
    .col-6-lg {
      flex: none;
      width: 50%; } }
  @media (min-width: 769px) {
    .col-6-lg {
      flex-basis: auto; } }
  .col-6-lg:not(:last-child) {
    padding-bottom: 0; }

.col-6-lg {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 1401px) {
    .col-6-lg {
      flex: none;
      width: 50%; } }
  @media (min-width: 769px) {
    .col-6-lg {
      flex-basis: auto; } }
  .col-6-lg:not(:last-child) {
    padding-bottom: 0; }

.col-7 {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-7 {
      flex: none;
      width: 58.33333%; } }
  @media (min-width: 769px) {
    .col-7 {
      flex-basis: auto; } }
  .col-7:not(:last-child) {
    padding-bottom: 0; }

.col-7-sm {
  flex: none;
  width: 58.33333%;
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-7-sm {
      flex-basis: auto; } }
  .col-7-sm:not(:last-child) {
    padding-bottom: 0; }

.col-7-md {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-7-md {
      flex: none;
      width: 58.33333%; } }
  @media (min-width: 769px) {
    .col-7-md {
      flex-basis: auto; } }
  .col-7-md:not(:last-child) {
    padding-bottom: 0; }

.col-7-lg {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 1001px) {
    .col-7-lg {
      flex: none;
      width: 58.33333%; } }
  @media (min-width: 769px) {
    .col-7-lg {
      flex-basis: auto; } }
  .col-7-lg:not(:last-child) {
    padding-bottom: 0; }

.col-7-lg {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 1401px) {
    .col-7-lg {
      flex: none;
      width: 58.33333%; } }
  @media (min-width: 769px) {
    .col-7-lg {
      flex-basis: auto; } }
  .col-7-lg:not(:last-child) {
    padding-bottom: 0; }

.col-8 {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-8 {
      flex: none;
      width: 66.66667%; } }
  @media (min-width: 769px) {
    .col-8 {
      flex-basis: auto; } }
  .col-8:not(:last-child) {
    padding-bottom: 0; }

.col-8-sm {
  flex: none;
  width: 66.66667%;
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-8-sm {
      flex-basis: auto; } }
  .col-8-sm:not(:last-child) {
    padding-bottom: 0; }

.col-8-md {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-8-md {
      flex: none;
      width: 66.66667%; } }
  @media (min-width: 769px) {
    .col-8-md {
      flex-basis: auto; } }
  .col-8-md:not(:last-child) {
    padding-bottom: 0; }

.col-8-lg {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 1001px) {
    .col-8-lg {
      flex: none;
      width: 66.66667%; } }
  @media (min-width: 769px) {
    .col-8-lg {
      flex-basis: auto; } }
  .col-8-lg:not(:last-child) {
    padding-bottom: 0; }

.col-8-lg {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 1401px) {
    .col-8-lg {
      flex: none;
      width: 66.66667%; } }
  @media (min-width: 769px) {
    .col-8-lg {
      flex-basis: auto; } }
  .col-8-lg:not(:last-child) {
    padding-bottom: 0; }

.col-9 {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-9 {
      flex: none;
      width: 75%; } }
  @media (min-width: 769px) {
    .col-9 {
      flex-basis: auto; } }
  .col-9:not(:last-child) {
    padding-bottom: 0; }

.col-9-sm {
  flex: none;
  width: 75%;
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-9-sm {
      flex-basis: auto; } }
  .col-9-sm:not(:last-child) {
    padding-bottom: 0; }

.col-9-md {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-9-md {
      flex: none;
      width: 75%; } }
  @media (min-width: 769px) {
    .col-9-md {
      flex-basis: auto; } }
  .col-9-md:not(:last-child) {
    padding-bottom: 0; }

.col-9-lg {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 1001px) {
    .col-9-lg {
      flex: none;
      width: 75%; } }
  @media (min-width: 769px) {
    .col-9-lg {
      flex-basis: auto; } }
  .col-9-lg:not(:last-child) {
    padding-bottom: 0; }

.col-9-lg {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 1401px) {
    .col-9-lg {
      flex: none;
      width: 75%; } }
  @media (min-width: 769px) {
    .col-9-lg {
      flex-basis: auto; } }
  .col-9-lg:not(:last-child) {
    padding-bottom: 0; }

.col-10 {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-10 {
      flex: none;
      width: 83.33333%; } }
  @media (min-width: 769px) {
    .col-10 {
      flex-basis: auto; } }
  .col-10:not(:last-child) {
    padding-bottom: 0; }

.col-10-sm {
  flex: none;
  width: 83.33333%;
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-10-sm {
      flex-basis: auto; } }
  .col-10-sm:not(:last-child) {
    padding-bottom: 0; }

.col-10-md {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-10-md {
      flex: none;
      width: 83.33333%; } }
  @media (min-width: 769px) {
    .col-10-md {
      flex-basis: auto; } }
  .col-10-md:not(:last-child) {
    padding-bottom: 0; }

.col-10-lg {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 1001px) {
    .col-10-lg {
      flex: none;
      width: 83.33333%; } }
  @media (min-width: 769px) {
    .col-10-lg {
      flex-basis: auto; } }
  .col-10-lg:not(:last-child) {
    padding-bottom: 0; }

.col-10-lg {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 1401px) {
    .col-10-lg {
      flex: none;
      width: 83.33333%; } }
  @media (min-width: 769px) {
    .col-10-lg {
      flex-basis: auto; } }
  .col-10-lg:not(:last-child) {
    padding-bottom: 0; }

.col-11 {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-11 {
      flex: none;
      width: 91.66667%; } }
  @media (min-width: 769px) {
    .col-11 {
      flex-basis: auto; } }
  .col-11:not(:last-child) {
    padding-bottom: 0; }

.col-11-sm {
  flex: none;
  width: 91.66667%;
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-11-sm {
      flex-basis: auto; } }
  .col-11-sm:not(:last-child) {
    padding-bottom: 0; }

.col-11-md {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-11-md {
      flex: none;
      width: 91.66667%; } }
  @media (min-width: 769px) {
    .col-11-md {
      flex-basis: auto; } }
  .col-11-md:not(:last-child) {
    padding-bottom: 0; }

.col-11-lg {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 1001px) {
    .col-11-lg {
      flex: none;
      width: 91.66667%; } }
  @media (min-width: 769px) {
    .col-11-lg {
      flex-basis: auto; } }
  .col-11-lg:not(:last-child) {
    padding-bottom: 0; }

.col-11-lg {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 1401px) {
    .col-11-lg {
      flex: none;
      width: 91.66667%; } }
  @media (min-width: 769px) {
    .col-11-lg {
      flex-basis: auto; } }
  .col-11-lg:not(:last-child) {
    padding-bottom: 0; }

.col-12 {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-12 {
      flex: none;
      width: 100%; } }
  @media (min-width: 769px) {
    .col-12 {
      flex-basis: auto; } }
  .col-12:not(:last-child) {
    padding-bottom: 0; }

.col-12-sm {
  flex: none;
  width: 100%;
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-12-sm {
      flex-basis: auto; } }
  .col-12-sm:not(:last-child) {
    padding-bottom: 0; }

.col-12-md {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-12-md {
      flex: none;
      width: 100%; } }
  @media (min-width: 769px) {
    .col-12-md {
      flex-basis: auto; } }
  .col-12-md:not(:last-child) {
    padding-bottom: 0; }

.col-12-lg {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 1001px) {
    .col-12-lg {
      flex: none;
      width: 100%; } }
  @media (min-width: 769px) {
    .col-12-lg {
      flex-basis: auto; } }
  .col-12-lg:not(:last-child) {
    padding-bottom: 0; }

.col-12-lg {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 1401px) {
    .col-12-lg {
      flex: none;
      width: 100%; } }
  @media (min-width: 769px) {
    .col-12-lg {
      flex-basis: auto; } }
  .col-12-lg:not(:last-child) {
    padding-bottom: 0; }

@media (min-width: 769px) {
  .offset-1 {
    margin-left: 8.33333%; } }

@media (min-width: 769px) {
  .offset-2 {
    margin-left: 16.66667%; } }

@media (min-width: 769px) {
  .offset-3 {
    margin-left: 25%; } }

@media (min-width: 769px) {
  .offset-4 {
    margin-left: 33.33333%; } }

@media (min-width: 769px) {
  .offset-5 {
    margin-left: 41.66667%; } }

@media (min-width: 769px) {
  .offset-6 {
    margin-left: 50%; } }

@media (min-width: 769px) {
  .offset-7 {
    margin-left: 58.33333%; } }

@media (min-width: 769px) {
  .offset-8 {
    margin-left: 66.66667%; } }

@media (min-width: 769px) {
  .offset-9 {
    margin-left: 75%; } }

@media (min-width: 769px) {
  .offset-10 {
    margin-left: 83.33333%; } }

@media (min-width: 769px) {
  .offset-11 {
    margin-left: 91.66667%; } }

.container {
  margin-left: 2rem;
  margin-right: 2rem;
  max-width: 1400px; }
  @media (min-width: 1401px) {
    .container {
      width: 1401px;
      margin-left: auto;
      margin-right: auto; } }

.container-fluid {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.container.flex,
.container-fluid.flex {
  display: flex; }

.hero {
  padding: 2rem; }

.stacked {
  display: flex;
  flex-direction: column; }

hr {
  height: 4px;
  background-color: #3f51b5;
  border: 0;
  margin: 0; }

h1 + hr,
h2 + hr,
h3 + hr,
h4 + hr,
h5 + hr,
h6 + hr {
  margin-top: -0.25rem; }

ol li {
  padding: 0.3rem; }

img.responsive,
video.responsive {
  max-width: 100%; }

.embedded {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .embedded iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.menu {
  display: block;
  padding: 0.5rem; }
  .menu ul {
    list-style: none;
    padding-left: 0;
    margin: 0; }
    .menu ul li {
      width: 100%; }
      .menu ul li a {
        display: block;
        padding: 0.5rem 0.75rem;
        text-decoration: none;
        color: inherit; }
        .menu ul li a:hover {
          color: #3f51b5;
          border-radius: 0.1rem;
          background-color: #eeeeee; }

.menu.sticky {
  position: fixed; }

.menu-header {
  margin: 0;
  padding: 0.5rem 0.2rem;
  text-transform: uppercase;
  font-weight: 400; }

.primary {
  background-color: #3f51b5;
  color: #ffffff; }

.secondary {
  background-color: #cdcdcd;
  color: #212121; }

.success {
  background-color: #1faa00;
  color: #ffffff; }

.warning {
  background-color: #fdd835;
  color: #ffffff; }

.danger {
  background-color: #d32f2f;
  color: #ffffff; }

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1rem; }
  .navbar ul {
    flex-grow: 1;
    flex-basis: 100%;
    padding: 0;
    margin: 0;
    list-style: none; }
    .navbar ul li {
      padding: 0.75rem 0.5rem;
      border-bottom: 1px solid #cdcdcd; }
      .navbar ul li a {
        color: inherit;
        padding: 0.75rem 0.5rem 0.75rem 0.5rem;
        text-decoration: none; }
        .navbar ul li a:visited, .navbar ul li a:active {
          color: inherit; }
        .navbar ul li a.active {
          font-weight: bold;
          margin-left: -0.5rem;
          padding-left: 0.8rem;
          border-left: 0.2rem solid #ffffff; }
    .navbar ul.right {
      margin-left: auto; }
  .navbar.primary {
    background-color: #3f51b5; }
    .navbar.primary ul li a:hover {
      color: #e6e6e6; }
  .navbar.secondary {
    background-color: #cdcdcd; }
    .navbar.secondary ul li a:hover {
      color: #080808; }
  .navbar.success {
    background-color: #1faa00; }
    .navbar.success ul li a:hover {
      color: #e6e6e6; }
  .navbar.warning {
    background-color: #fdd835; }
    .navbar.warning ul li a:hover {
      color: #e6e6e6; }
  .navbar.danger {
    background-color: #d32f2f; }
    .navbar.danger ul li a:hover {
      color: #e6e6e6; }
  .navbar .field-inline {
    padding: 0;
    margin-right: 0; }
  .navbar button,
  .navbar div button {
    box-shadow: none; }
  .navbar .brand {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto; }
  .navbar .right {
    margin-left: inherit;
    padding-left: 1rem;
    padding-right: 1rem; }
  .navbar .field-inline,
  .navbar div.field-inline {
    flex-grow: 1; }
    .navbar .field-inline .input,
    .navbar .field-inline .attached .input,
    .navbar div.field-inline .input,
    .navbar div.field-inline .attached .input {
      width: 100%;
      flex-basis: 0;
      flex-grow: 1; }
  .navbar div.right {
    display: flex;
    flex-grow: 1;
    flex-basis: 100%; }
  @media (min-width: 769px) {
    .navbar {
      flex-wrap: nowrap; }
      .navbar .brand {
        margin-left: inherit;
        margin-right: inherit; }
      .navbar ul {
        flex-grow: 0;
        flex-basis: auto; }
        .navbar ul li {
          display: inline-block;
          border: 0; }
          .navbar ul li a.active {
            margin-left: 0;
            padding-left: inherit;
            padding-bottom: 0.55rem;
            border-bottom: 0.2rem solid #ffffff;
            border-left: 0; }
      .navbar .right,
      .navbar div.right {
        display: flex;
        flex-basis: auto;
        justify-content: flex-end; }
        .navbar .right .field-inline,
        .navbar div.right .field-inline {
          flex-grow: 0; }
          .navbar .right .field-inline .input,
          .navbar .right .field-inline .attached .input,
          .navbar div.right .field-inline .input,
          .navbar div.right .field-inline .attached .input {
            max-width: 217px; } }

section {
  padding: 0.75rem 0.75rem 2rem 0.75rem;
  margin: 0.5rem 1rem 2rem 1rem;
  background-color: #fdfdfd; }
  section h1,
  section h2,
  section h3,
  section h4,
  section h5,
  section h6 {
    margin-top: 0.5rem; }

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem; }
  .table thead {
    border-bottom: 2px solid #757575; }
    .table thead tr th {
      text-align: left; }
  .table thead tr th,
  .table tbody tr td {
    padding: 0.5rem; }
  .table thead tr,
  .table tbody tr {
    border-bottom: 1px solid #cdcdcd; }

.table.striped tbody tr:nth-child(even) {
  background-color: #f3f3f3; }

.table.bordered {
  border: 1px solid #cdcdcd; }
  .table.bordered thead {
    border-color: #cdcdcd; }
  .table.bordered thead tr th,
  .table.bordered tbody tr td {
    border: 1px solid #cdcdcd; }

h1 {
  font-size: 3.157em; }

h2 {
  font-size: 2.369em; }

h3 {
  font-size: 1.777em; }

h4 {
  font-size: 1.333em; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.8rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", -apple-system, sans-serif;
  margin-top: 1rem;
  margin-bottom: 0.5rem; }
  h1 a,
  h1 a:active,
  h1 a:visited,
  h2 a,
  h2 a:active,
  h2 a:visited,
  h3 a,
  h3 a:active,
  h3 a:visited,
  h4 a,
  h4 a:active,
  h4 a:visited,
  h5 a,
  h5 a:active,
  h5 a:visited,
  h6 a,
  h6 a:active,
  h6 a:visited {
    color: inherit;
    text-decoration: none; }

p {
  font-weight: 300; }

.lead {
  font-size: 1.2rem;
  font-weight: 400; }

@media (min-width: 415px) {
  .column.up-to-xs,
  .half.up-to-xs,
  .one-third.up-to-xs,
  .one-fourth.up-to-xs,
  .two-thirds.up-to-xs,
  .three-fourths.up-to-xs,
  .col-1.up-to-xs,
  .col-2.up-to-xs,
  .col-3.up-to-xs,
  .col-4.up-to-xs,
  .col-5.up-to-xs,
  .col-6.up-to-xs,
  .col-7.up-to-xs,
  .col-8.up-to-xs,
  .col-9.up-to-xs,
  .col-10.up-to-xs,
  .col-11.up-to-xs,
  .col-12.up-to-xs {
    display: none; } }
@media (max-width: 415px) {
  .column.at-least-xs,
  .half.at-least-xs,
  .one-third.at-least-xs,
  .one-fourth.at-least-xs,
  .two-thirds.at-least-xs,
  .three-fourths.at-least-xs,
  .col-1.at-least-xs,
  .col-2.at-least-xs,
  .col-3.at-least-xs,
  .col-4.at-least-xs,
  .col-5.at-least-xs,
  .col-6.at-least-xs,
  .col-7.at-least-xs,
  .col-8.at-least-xs,
  .col-9.at-least-xs,
  .col-10.at-least-xs,
  .col-11.at-least-xs,
  .col-12.at-least-xs {
    display: none; } }
.column.only-xs,
.half.only-xs,
.one-third.only-xs,
.one-fourth.only-xs,
.two-thirds.only-xs,
.three-fourths.only-xs,
.col-1.only-xs,
.col-2.only-xs,
.col-3.only-xs,
.col-4.only-xs,
.col-5.only-xs,
.col-6.only-xs,
.col-7.only-xs,
.col-8.only-xs,
.col-9.only-xs,
.col-10.only-xs,
.col-11.only-xs,
.col-12.only-xs {
  display: none; }
  @media (min-width: 415px) and (max-width: 768px) {
    .column.only-xs,
    .half.only-xs,
    .one-third.only-xs,
    .one-fourth.only-xs,
    .two-thirds.only-xs,
    .three-fourths.only-xs,
    .col-1.only-xs,
    .col-2.only-xs,
    .col-3.only-xs,
    .col-4.only-xs,
    .col-5.only-xs,
    .col-6.only-xs,
    .col-7.only-xs,
    .col-8.only-xs,
    .col-9.only-xs,
    .col-10.only-xs,
    .col-11.only-xs,
    .col-12.only-xs {
      display: block; } }
@media (min-width: 769px) {
  .column.up-to-sm,
  .half.up-to-sm,
  .one-third.up-to-sm,
  .one-fourth.up-to-sm,
  .two-thirds.up-to-sm,
  .three-fourths.up-to-sm,
  .col-1.up-to-sm,
  .col-2.up-to-sm,
  .col-3.up-to-sm,
  .col-4.up-to-sm,
  .col-5.up-to-sm,
  .col-6.up-to-sm,
  .col-7.up-to-sm,
  .col-8.up-to-sm,
  .col-9.up-to-sm,
  .col-10.up-to-sm,
  .col-11.up-to-sm,
  .col-12.up-to-sm {
    display: none; } }
@media (max-width: 769px) {
  .column.at-least-sm,
  .half.at-least-sm,
  .one-third.at-least-sm,
  .one-fourth.at-least-sm,
  .two-thirds.at-least-sm,
  .three-fourths.at-least-sm,
  .col-1.at-least-sm,
  .col-2.at-least-sm,
  .col-3.at-least-sm,
  .col-4.at-least-sm,
  .col-5.at-least-sm,
  .col-6.at-least-sm,
  .col-7.at-least-sm,
  .col-8.at-least-sm,
  .col-9.at-least-sm,
  .col-10.at-least-sm,
  .col-11.at-least-sm,
  .col-12.at-least-sm {
    display: none; } }
.column.only-sm,
.half.only-sm,
.one-third.only-sm,
.one-fourth.only-sm,
.two-thirds.only-sm,
.three-fourths.only-sm,
.col-1.only-sm,
.col-2.only-sm,
.col-3.only-sm,
.col-4.only-sm,
.col-5.only-sm,
.col-6.only-sm,
.col-7.only-sm,
.col-8.only-sm,
.col-9.only-sm,
.col-10.only-sm,
.col-11.only-sm,
.col-12.only-sm {
  display: none; }
  @media (min-width: 769px) and (max-width: 1000px) {
    .column.only-sm,
    .half.only-sm,
    .one-third.only-sm,
    .one-fourth.only-sm,
    .two-thirds.only-sm,
    .three-fourths.only-sm,
    .col-1.only-sm,
    .col-2.only-sm,
    .col-3.only-sm,
    .col-4.only-sm,
    .col-5.only-sm,
    .col-6.only-sm,
    .col-7.only-sm,
    .col-8.only-sm,
    .col-9.only-sm,
    .col-10.only-sm,
    .col-11.only-sm,
    .col-12.only-sm {
      display: block; } }
@media (min-width: 1001px) {
  .column.up-to-md,
  .half.up-to-md,
  .one-third.up-to-md,
  .one-fourth.up-to-md,
  .two-thirds.up-to-md,
  .three-fourths.up-to-md,
  .col-1.up-to-md,
  .col-2.up-to-md,
  .col-3.up-to-md,
  .col-4.up-to-md,
  .col-5.up-to-md,
  .col-6.up-to-md,
  .col-7.up-to-md,
  .col-8.up-to-md,
  .col-9.up-to-md,
  .col-10.up-to-md,
  .col-11.up-to-md,
  .col-12.up-to-md {
    display: none; } }
@media (max-width: 1001px) {
  .column.at-least-md,
  .half.at-least-md,
  .one-third.at-least-md,
  .one-fourth.at-least-md,
  .two-thirds.at-least-md,
  .three-fourths.at-least-md,
  .col-1.at-least-md,
  .col-2.at-least-md,
  .col-3.at-least-md,
  .col-4.at-least-md,
  .col-5.at-least-md,
  .col-6.at-least-md,
  .col-7.at-least-md,
  .col-8.at-least-md,
  .col-9.at-least-md,
  .col-10.at-least-md,
  .col-11.at-least-md,
  .col-12.at-least-md {
    display: none; } }
.column.only-md,
.half.only-md,
.one-third.only-md,
.one-fourth.only-md,
.two-thirds.only-md,
.three-fourths.only-md,
.col-1.only-md,
.col-2.only-md,
.col-3.only-md,
.col-4.only-md,
.col-5.only-md,
.col-6.only-md,
.col-7.only-md,
.col-8.only-md,
.col-9.only-md,
.col-10.only-md,
.col-11.only-md,
.col-12.only-md {
  display: none; }
  @media (min-width: 1001px) and (max-width: 1400px) {
    .column.only-md,
    .half.only-md,
    .one-third.only-md,
    .one-fourth.only-md,
    .two-thirds.only-md,
    .three-fourths.only-md,
    .col-1.only-md,
    .col-2.only-md,
    .col-3.only-md,
    .col-4.only-md,
    .col-5.only-md,
    .col-6.only-md,
    .col-7.only-md,
    .col-8.only-md,
    .col-9.only-md,
    .col-10.only-md,
    .col-11.only-md,
    .col-12.only-md {
      display: block; } }
@media (min-width: 1401px) {
  .column.up-to-lg,
  .half.up-to-lg,
  .one-third.up-to-lg,
  .one-fourth.up-to-lg,
  .two-thirds.up-to-lg,
  .three-fourths.up-to-lg,
  .col-1.up-to-lg,
  .col-2.up-to-lg,
  .col-3.up-to-lg,
  .col-4.up-to-lg,
  .col-5.up-to-lg,
  .col-6.up-to-lg,
  .col-7.up-to-lg,
  .col-8.up-to-lg,
  .col-9.up-to-lg,
  .col-10.up-to-lg,
  .col-11.up-to-lg,
  .col-12.up-to-lg {
    display: none; } }
@media (max-width: 1401px) {
  .column.at-least-lg,
  .half.at-least-lg,
  .one-third.at-least-lg,
  .one-fourth.at-least-lg,
  .two-thirds.at-least-lg,
  .three-fourths.at-least-lg,
  .col-1.at-least-lg,
  .col-2.at-least-lg,
  .col-3.at-least-lg,
  .col-4.at-least-lg,
  .col-5.at-least-lg,
  .col-6.at-least-lg,
  .col-7.at-least-lg,
  .col-8.at-least-lg,
  .col-9.at-least-lg,
  .col-10.at-least-lg,
  .col-11.at-least-lg,
  .col-12.at-least-lg {
    display: none; } }
.column.only-lg,
.half.only-lg,
.one-third.only-lg,
.one-fourth.only-lg,
.two-thirds.only-lg,
.three-fourths.only-lg,
.col-1.only-lg,
.col-2.only-lg,
.col-3.only-lg,
.col-4.only-lg,
.col-5.only-lg,
.col-6.only-lg,
.col-7.only-lg,
.col-8.only-lg,
.col-9.only-lg,
.col-10.only-lg,
.col-11.only-lg,
.col-12.only-lg {
  display: none; }
  @media (min-width: 1401px) {
    .column.only-lg,
    .half.only-lg,
    .one-third.only-lg,
    .one-fourth.only-lg,
    .two-thirds.only-lg,
    .three-fourths.only-lg,
    .col-1.only-lg,
    .col-2.only-lg,
    .col-3.only-lg,
    .col-4.only-lg,
    .col-5.only-lg,
    .col-6.only-lg,
    .col-7.only-lg,
    .col-8.only-lg,
    .col-9.only-lg,
    .col-10.only-lg,
    .col-11.only-lg,
    .col-12.only-lg {
      display: block; } }

.nopadding {
  padding: 0; }

.nomargin {
  margin: 0; }

html {
  font-size: 18px;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%)); }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0; }

p {
  line-height: 1.6; }

/*# sourceMappingURL=cardio.css.map */
