button {
  align-self: flex-start;
  display: inline-flex;
  padding: 0.5rem 1rem;
  text-align: center;
  margin: 0.2rem;
  font-size: 14px;
  border: 1px solid #cdcdcd;
  border-radius: 0.1rem;
  box-shadow: 0 2px 2px 0 rgba(205, 205, 205, 0.75);
  transition: all 200ms ease-in-out;
  background-color: #ffffff; }
  button[disabled] {
    cursor: not-allowed;
    opacity: 0.6; }
  button:hover {
    background-color: #e6e6e6; }

button.primary {
  border-color: #3f51b5; }
  button.primary.outlined {
    color: #3f51b5;
    background-color: inherit; }
    button.primary.outlined[disabled]:hover {
      color: #3f51b5;
      background-color: inherit; }
    button.primary.outlined:hover {
      background-color: #3f51b5;
      color: #ffffff; }
  button.primary[disabled]:hover {
    background-color: #3f51b5; }
  button.primary:hover {
    background-color: #32408f; }

button.secondary {
  border-color: #cdcdcd; }
  button.secondary.outlined {
    color: #cdcdcd;
    background-color: inherit; }
    button.secondary.outlined[disabled]:hover {
      color: #cdcdcd;
      background-color: inherit; }
    button.secondary.outlined:hover {
      background-color: #cdcdcd;
      color: #ffffff; }
  button.secondary[disabled]:hover {
    background-color: #cdcdcd; }
  button.secondary:hover {
    background-color: #b4b4b4; }

button.success {
  border-color: #1faa00; }
  button.success.outlined {
    color: #1faa00;
    background-color: inherit; }
    button.success.outlined[disabled]:hover {
      color: #1faa00;
      background-color: inherit; }
    button.success.outlined:hover {
      background-color: #1faa00;
      color: #ffffff; }
  button.success[disabled]:hover {
    background-color: #1faa00; }
  button.success:hover {
    background-color: #167700; }

button.warning {
  border-color: #fdd835; }
  button.warning.outlined {
    color: #fdd835;
    background-color: inherit; }
    button.warning.outlined[disabled]:hover {
      color: #fdd835;
      background-color: inherit; }
    button.warning.outlined:hover {
      background-color: #fdd835;
      color: #ffffff; }
  button.warning[disabled]:hover {
    background-color: #fdd835; }
  button.warning:hover {
    background-color: #fdce03; }

button.danger {
  border-color: #d32f2f; }
  button.danger.outlined {
    color: #d32f2f;
    background-color: inherit; }
    button.danger.outlined[disabled]:hover {
      color: #d32f2f;
      background-color: inherit; }
    button.danger.outlined:hover {
      background-color: #d32f2f;
      color: #ffffff; }
  button.danger[disabled]:hover {
    background-color: #d32f2f; }
  button.danger:hover {
    background-color: #ab2424; }

button.small {
  font-size: 0.75rem;
  padding: 0.25rem 1rem; }

button.large {
  font-size: 1.5rem; }

button.xlarge {
  font-size: 2rem; }

.grouped button {
  margin-right: -1px;
  margin-left: 0;
  border-radius: 0; }
  .grouped button:first-child {
    border-top-left-radius: 0.1rem;
    border-bottom-left-radius: 0.1rem; }
  .grouped button:last-child {
    border-top-right-radius: 0.1rem;
    border-bottom-right-radius: 0.1rem; }

.card {
  background-color: #ffffff;
  border: 1px solid rgba(117, 117, 117, 0.2);
  border-radius: 0.1rem;
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column; }

.card-fixed {
  width: 400px; }

.card-header {
  padding: 1rem;
  flex-grow: 1;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1); }
  .card-header h1,
  .card-header h2,
  .card-header h3,
  .card-header h4,
  .card-header h5,
  .card-header h6 {
    margin: 0; }

.card img {
  max-width: 100%;
  align-self: center;
  padding: 0; }

.card-body {
  flex-grow: 1;
  padding: 1rem; }

.card-footer {
  flex-grow: 1;
  padding: 1rem; }

.card-buttons {
  padding-top: 1rem;
  display: flex;
  text-align: center; }
  .card-buttons button {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-basis: auto;
    margin: 0 -1px 0 0;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border: 1px solid rgba(117, 117, 117, 0.2); }
    .card-buttons button:first-child {
      margin-left: -1px; }

code {
  color: #6f83f2;
  background-color: #e7e7e7;
  border-radius: 0.1rem;
  padding: 0.2rem 0.3rem;
  white-space: nowrap; }

pre {
  margin: 0; }
  pre code {
    white-space: pre-wrap;
    font-family: "Source Code Pro", monospace;
    overflow: scroll; }

.block {
  display: flex; }

form {
  display: flex;
  flex-direction: column; }

.label {
  display: block;
  flex-grow: 1;
  margin-bottom: 0.5rem;
  font-weight: 600; }

.input {
  display: block;
  flex: 1 1 auto;
  height: 2rem;
  font-size: 16px;
  margin: 0;
  padding: 0.2rem 0.4rem;
  border: 1px solid #cdcdcd;
  border-radius: 0.1rem;
  transition: 200ms all ease-in-out; }
  .input:hover {
    box-shadow: 0 0 2px #3f51b5; }
  .input:focus {
    border: 1px solid #3f51b5;
    outline: none; }
  .input[disabled] {
    cursor: not-allowed; }
    .input[disabled]:hover {
      box-shadow: none; }

.helper {
  padding: 0.5rem 0; }

.validation {
  padding: 0.75rem 0 0.5rem 0; }
  .validation ~ .helper {
    padding-top: 0; }

.field {
  padding: 0.75rem;
  display: flex;
  flex-direction: column; }
  .field.primary {
    background-color: inherit;
    color: #32408f; }
    .field.primary input {
      border-color: #3f51b5;
      background-color: rgba(63, 81, 181, 0.05); }
      .field.primary input:hover {
        box-shadow: 0 0 2px #3f51b5; }
    .field.primary .helper {
      color: initial; }
  .field.success {
    background-color: inherit;
    color: #167700; }
    .field.success input {
      border-color: #1faa00;
      background-color: rgba(31, 170, 0, 0.05); }
      .field.success input:hover {
        box-shadow: 0 0 2px #1faa00; }
    .field.success .helper {
      color: initial; }
  .field.warning {
    background-color: inherit;
    color: #fdce03; }
    .field.warning input {
      border-color: #fdd835;
      background-color: rgba(253, 216, 53, 0.05); }
      .field.warning input:hover {
        box-shadow: 0 0 2px #fdd835; }
    .field.warning .helper {
      color: initial; }
  .field.danger {
    background-color: inherit;
    color: #ab2424; }
    .field.danger input {
      border-color: #d32f2f;
      background-color: rgba(211, 47, 47, 0.05); }
      .field.danger input:hover {
        box-shadow: 0 0 2px #d32f2f; }
    .field.danger .helper {
      color: initial; }

.field-inline {
  padding: 0.75rem;
  margin-right: -1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .field-inline.primary {
    background-color: inherit;
    color: #32408f; }
    .field-inline.primary input {
      border-color: #3f51b5;
      background-color: rgba(63, 81, 181, 0.05); }
      .field-inline.primary input:hover {
        box-shadow: 0 0 2px #3f51b5; }
    .field-inline.primary .helper {
      color: initial; }
  .field-inline.success {
    background-color: inherit;
    color: #167700; }
    .field-inline.success input {
      border-color: #1faa00;
      background-color: rgba(31, 170, 0, 0.05); }
      .field-inline.success input:hover {
        box-shadow: 0 0 2px #1faa00; }
    .field-inline.success .helper {
      color: initial; }
  .field-inline.warning {
    background-color: inherit;
    color: #fdce03; }
    .field-inline.warning input {
      border-color: #fdd835;
      background-color: rgba(253, 216, 53, 0.05); }
      .field-inline.warning input:hover {
        box-shadow: 0 0 2px #fdd835; }
    .field-inline.warning .helper {
      color: initial; }
  .field-inline.danger {
    background-color: inherit;
    color: #ab2424; }
    .field-inline.danger input {
      border-color: #d32f2f;
      background-color: rgba(211, 47, 47, 0.05); }
      .field-inline.danger input:hover {
        box-shadow: 0 0 2px #d32f2f; }
    .field-inline.danger .helper {
      color: initial; }
  .field-inline .input,
  .field-inline .select,
  .field-inline .checkbox,
  .field-inline .radio-buttons,
  .field-inline button {
    margin-right: 1rem; }
  .field-inline .checkbox,
  .field-inline .radio-buttons .radio {
    padding-bottom: 0; }
    .field-inline .checkbox::after,
    .field-inline .radio-buttons .radio::after {
      margin-top: -5px; }
  .field-inline label {
    margin: 0; }

.attached {
  display: flex;
  flex-direction: row;
  flex-grow: 1; }
  .attached .input,
  .attached .select,
  .attached .checkbox,
  .attached .radio-buttons,
  .attached button {
    border-radius: 0;
    margin: 0; }
  .attached button {
    margin-left: -1px;
    box-shadow: none; }
  .attached button:first-child,
  .attached input:first-child {
    border-top-left-radius: 0.1rem;
    border-bottom-left-radius: 0.1rem; }
  .attached button:last-child,
  .attached input:last-child {
    border-top-right-radius: 0.1rem;
    border-bottom-right-radius: 0.1rem; }
  .attached input {
    align-self: stretch;
    height: auto; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #cdcdcd;
  border-radius: 0.1rem;
  background-color: #ffffff;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  z-index: 1;
  transition: 200ms all ease-in-out; }
  select:hover {
    box-shadow: 0 0 2px #3f51b5; }
  select:focus {
    border: 1px solid #3f51b5;
    outline: none; }
  select[disabled] {
    cursor: not-allowed; }
    select[disabled]:hover {
      box-shadow: none; }

.select {
  flex-grow: 0;
  align-self: flex-start;
  position: relative; }
  .select::after {
    position: absolute;
    border: 1px solid #3f51b5;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.5rem;
    width: 0.5rem;
    pointer-events: none;
    transform: rotate(-45deg);
    right: 1rem;
    top: 50%;
    margin-top: -0.375rem;
    z-index: 4; }

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 0 0.5rem 0.5rem 0;
  white-space: nowrap; }
  .checkbox input {
    margin: 2px 0 0 0;
    flex-grow: 0;
    align-self: flex-start;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 0.1rem;
    transition: 200ms all ease-in-out; }
    .checkbox input:hover {
      box-shadow: 0 0 2px #3f51b5; }
    .checkbox input:focus {
      border-color: #3f51b5;
      outline: none; }
    .checkbox input:checked {
      border-color: #3f51b5;
      background-color: #3f51b5;
      outline: none; }
      .checkbox input:checked:hover {
        background-color: #32408f; }
      .checkbox input:checked:focus {
        box-shadow: 0 0 2px #3f51b5; }
    .checkbox input[disabled] {
      cursor: not-allowed; }
      .checkbox input[disabled]:hover {
        box-shadow: none; }
  .checkbox .label {
    display: inline-flex;
    margin-bottom: 0;
    margin-left: 0.5rem;
    font-weight: normal; }
  .checkbox::after {
    position: absolute;
    border: 2px solid #ffffff;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.35rem;
    width: 0.75rem;
    pointer-events: none;
    transform: rotate(-45deg);
    left: 2px;
    top: 50%;
    margin-top: -10px;
    z-index: 4; }

.radio-buttons {
  display: flex;
  flex-direction: row; }
  .radio-buttons.stacked {
    flex-direction: column; }

.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 0;
  align-self: flex-start;
  position: relative;
  padding: 0 1.5rem 0.5rem 0; }
  .radio input {
    margin: 3px 0 0 0;
    flex-grow: 0;
    align-self: flex-start;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 1rem;
    transition: 200ms all ease-in-out; }
    .radio input:hover {
      box-shadow: 0 0 2px #3f51b5; }
    .radio input:focus {
      border-color: #3f51b5;
      outline: none; }
    .radio input:checked {
      border-color: #3f51b5;
      background-color: #3f51b5;
      outline: none; }
      .radio input:checked:hover {
        background-color: #32408f; }
      .radio input:checked:focus {
        box-shadow: 0 0 2px #3f51b5; }
    .radio input[disabled] {
      cursor: not-allowed; }
      .radio input[disabled]:hover {
        box-shadow: none; }
  .radio .label {
    display: inline-flex;
    margin-bottom: 0;
    margin-left: 0.5rem;
    font-weight: normal;
    white-space: nowrap; }
  .radio::after {
    position: absolute;
    background-color: #ffffff;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 0.5rem;
    pointer-events: none;
    left: 4px;
    top: 50%;
    margin-top: -9px;
    z-index: 4; }

textarea {
  min-height: 6rem;
  border-radius: 0.1rem;
  display: block;
  flex: 1 1 auto;
  width: 100%;
  height: 2rem;
  font-size: 16px;
  margin: 0;
  padding: 0.4rem;
  border: 1px solid #cdcdcd;
  border-radius: 0.1rem;
  transition: 200ms all ease-in-out; }
  textarea:hover {
    box-shadow: 0 0 2px #3f51b5; }
  textarea:focus {
    border: 1px solid #3f51b5;
    outline: none; }

.grid {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem; }
  @media (min-width: 769px) {
    .grid {
      flex-direction: row; } }

.column {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .column {
      flex-basis: auto; } }
  .column:not(:last-child) {
    padding-bottom: 0; }

.half {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .half {
      flex: none;
      width: 50%; } }
  @media (min-width: 769px) {
    .half {
      flex-basis: auto; } }
  .half:not(:last-child) {
    padding-bottom: 0; }

.one-third {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .one-third {
      flex: none;
      width: 33.333%; } }
  @media (min-width: 769px) {
    .one-third {
      flex-basis: auto; } }
  .one-third:not(:last-child) {
    padding-bottom: 0; }

.two-thirds {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .two-thirds {
      flex: none;
      width: 66.666%; } }
  @media (min-width: 769px) {
    .two-thirds {
      flex-basis: auto; } }
  .two-thirds:not(:last-child) {
    padding-bottom: 0; }

.one-fourth {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .one-fourth {
      flex: none;
      width: 25%; } }
  @media (min-width: 769px) {
    .one-fourth {
      flex-basis: auto; } }
  .one-fourth:not(:last-child) {
    padding-bottom: 0; }

.three-fourths {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .three-fourths {
      flex: none;
      width: 75%; } }
  @media (min-width: 769px) {
    .three-fourths {
      flex-basis: auto; } }
  .three-fourths:not(:last-child) {
    padding-bottom: 0; }

.col-1 {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-1 {
      flex: none;
      width: 8.33333%; } }
  @media (min-width: 769px) {
    .col-1 {
      flex-basis: auto; } }
  .col-1:not(:last-child) {
    padding-bottom: 0; }

.col-2 {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-2 {
      flex: none;
      width: 16.66667%; } }
  @media (min-width: 769px) {
    .col-2 {
      flex-basis: auto; } }
  .col-2:not(:last-child) {
    padding-bottom: 0; }

.col-3 {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-3 {
      flex: none;
      width: 25%; } }
  @media (min-width: 769px) {
    .col-3 {
      flex-basis: auto; } }
  .col-3:not(:last-child) {
    padding-bottom: 0; }

.col-4 {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-4 {
      flex: none;
      width: 33.33333%; } }
  @media (min-width: 769px) {
    .col-4 {
      flex-basis: auto; } }
  .col-4:not(:last-child) {
    padding-bottom: 0; }

.col-5 {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-5 {
      flex: none;
      width: 41.66667%; } }
  @media (min-width: 769px) {
    .col-5 {
      flex-basis: auto; } }
  .col-5:not(:last-child) {
    padding-bottom: 0; }

.col-6 {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-6 {
      flex: none;
      width: 50%; } }
  @media (min-width: 769px) {
    .col-6 {
      flex-basis: auto; } }
  .col-6:not(:last-child) {
    padding-bottom: 0; }

.col-7 {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-7 {
      flex: none;
      width: 58.33333%; } }
  @media (min-width: 769px) {
    .col-7 {
      flex-basis: auto; } }
  .col-7:not(:last-child) {
    padding-bottom: 0; }

.col-8 {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-8 {
      flex: none;
      width: 66.66667%; } }
  @media (min-width: 769px) {
    .col-8 {
      flex-basis: auto; } }
  .col-8:not(:last-child) {
    padding-bottom: 0; }

.col-9 {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-9 {
      flex: none;
      width: 75%; } }
  @media (min-width: 769px) {
    .col-9 {
      flex-basis: auto; } }
  .col-9:not(:last-child) {
    padding-bottom: 0; }

.col-10 {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-10 {
      flex: none;
      width: 83.33333%; } }
  @media (min-width: 769px) {
    .col-10 {
      flex-basis: auto; } }
  .col-10:not(:last-child) {
    padding-bottom: 0; }

.col-11 {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-11 {
      flex: none;
      width: 91.66667%; } }
  @media (min-width: 769px) {
    .col-11 {
      flex-basis: auto; } }
  .col-11:not(:last-child) {
    padding-bottom: 0; }

.col-12 {
  display: block;
  flex: 1 1 auto;
  padding: 0.3rem; }
  @media (min-width: 769px) {
    .col-12 {
      flex: none;
      width: 100%; } }
  @media (min-width: 769px) {
    .col-12 {
      flex-basis: auto; } }
  .col-12:not(:last-child) {
    padding-bottom: 0; }

@media (min-width: 769px) {
  .offset-1 {
    margin-left: 8.33333%; } }

@media (min-width: 769px) {
  .offset-2 {
    margin-left: 16.66667%; } }

@media (min-width: 769px) {
  .offset-3 {
    margin-left: 25%; } }

@media (min-width: 769px) {
  .offset-4 {
    margin-left: 33.33333%; } }

@media (min-width: 769px) {
  .offset-5 {
    margin-left: 41.66667%; } }

@media (min-width: 769px) {
  .offset-6 {
    margin-left: 50%; } }

@media (min-width: 769px) {
  .offset-7 {
    margin-left: 58.33333%; } }

@media (min-width: 769px) {
  .offset-8 {
    margin-left: 66.66667%; } }

@media (min-width: 769px) {
  .offset-9 {
    margin-left: 75%; } }

@media (min-width: 769px) {
  .offset-10 {
    margin-left: 83.33333%; } }

@media (min-width: 769px) {
  .offset-11 {
    margin-left: 91.66667%; } }

.container {
  margin-left: 2rem;
  margin-right: 2rem;
  max-width: 1400px; }
  @media (min-width: 1401px) {
    .container {
      width: 1401px;
      margin-left: auto;
      margin-right: auto; } }

.container-fluid {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.container.flex,
.container-fluid.flex {
  display: flex; }

.hero {
  padding: 2rem; }

.stacked {
  display: flex;
  flex-direction: column; }

.menu {
  display: block;
  padding: 0.5rem; }
  .menu ul {
    list-style: none;
    padding-left: 0;
    margin: 0; }
    .menu ul li {
      width: 100%; }
      .menu ul li a {
        display: block;
        padding: 0.5rem 0.75rem;
        text-decoration: none;
        color: inherit; }
        .menu ul li a:hover {
          color: #3f51b5;
          border-radius: 0.1rem;
          background-color: #eeeeee; }

.menu.sticky {
  position: fixed; }

.menu-header {
  margin: 0;
  padding: 0.5rem 0.2rem;
  text-transform: uppercase;
  font-weight: 400; }

.primary {
  background-color: #3f51b5;
  color: #ffffff; }

.secondary {
  background-color: #cdcdcd;
  color: #212121; }

.success {
  background-color: #1faa00;
  color: #ffffff; }

.warning {
  background-color: #fdd835;
  color: #ffffff; }

.danger {
  background-color: #d32f2f;
  color: #ffffff; }

.navbar {
  padding: 0.5rem 0;
  display: flex;
  align-items: center; }
  .navbar ul {
    margin: 0;
    padding: 0.5rem; }
    .navbar ul li {
      display: inline-block;
      padding: 0 0.5rem; }
      .navbar ul li a {
        color: inherit;
        padding: 0.5rem;
        text-decoration: none; }
        .navbar ul li a:visited, .navbar ul li a:active {
          color: inherit; }
    .navbar ul.right {
      margin-left: auto; }
  .navbar.primary {
    background-color: #3f51b5; }
    .navbar.primary ul li a:hover {
      color: #e6e6e6; }
  .navbar .field-inline {
    padding: 0;
    margin-right: 0; }
  .navbar button,
  .navbar div button {
    box-shadow: none; }
  .navbar .brand {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem; }
  .navbar:last-child {
    padding-right: 1rem; }

.right {
  margin-left: auto;
  display: flex; }

section {
  padding: 0.75rem 0.75rem 2rem 0.75rem;
  margin: 0.5rem 1rem 2rem 1rem;
  background-color: #fbfbfb; }
  section h1,
  section h2,
  section h3,
  section h4,
  section h5,
  section h6 {
    margin-top: 0.5rem; }

h1 {
  font-size: 3.2rem; }

h2 {
  font-size: 2.6rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.2rem; }

h6 {
  font-size: 1rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", -apple-system, sans-serif;
  margin-top: 1rem;
  margin-bottom: 0.5rem; }
  h1 a,
  h1 a:active,
  h1 a:visited,
  h2 a,
  h2 a:active,
  h2 a:visited,
  h3 a,
  h3 a:active,
  h3 a:visited,
  h4 a,
  h4 a:active,
  h4 a:visited,
  h5 a,
  h5 a:active,
  h5 a:visited,
  h6 a,
  h6 a:active,
  h6 a:visited {
    color: inherit;
    text-decoration: none; }

p {
  font-weight: 300; }

.lead {
  font-size: 1.2rem;
  font-weight: 400; }

html {
  font-size: 18px;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%)); }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0; }

p {
  line-height: 1.6; }

/*# sourceMappingURL=cardio.css.map */
