extends templates/base

block content
  h2 Code Styling
  section
    h3 Inline Code
    p Throughout the site are examples of inline code. This is done by wrapping content within #[+code("<code>")] tags.

  section
    h3 Code Block
    p
      | Larger code examples use code blocks, which are #[+code("<code>")] tags wrapped in #[+code("<pre>")] tags.
      | The blocks use #[+link("https://highlightjs.org/", "highlight.js")] to highlight the code.

    +code_block(`
      code {
        color: $color-primary-light;
        background-color: lighten($gray-light, 10%);
        border-radius: $base-border-radius;
        padding: 0.2rem 0.3rem;
      }
    `)
