extends templates/base

block content
  nav
    ul
      li
        +link('buttons.html', 'Buttons')
      li
        +link('grid.html', 'Grid')
      li
        +link('cards.html', 'Cards')
      li
        +link('forms.html', 'Forms')
