extends templates/base

block content
  nav.navbar
    ul
      li
        +link("buttons.html", "Buttons")
      li
        +link("cards.html", "Cards")
      li
        +link("forms.html", "Forms")
      li
        +link("grid.html", "Grid")
      li
        +link("menu.html", "Menu")
      li
        +link("nav.html", "Nav")
      li
        +link("typography.html", "Typography")

  .container
    block components_content
