extends templates/base

block content
  h2 Containers
  section
    h3 Container
    hr
    p Use a #[+code("container")] as a responsive container but with a max-width, allowing centered content page for your layout.

  section
    h3 Fluid Container
    hr
    p If you want the page to resize while still having some left and right margin centering your content, use a #[+code("container-fluid")].

    .container-fluid
      p.col-example This content is centered with no max-width.

  section
    h3 Flex Containers
    hr
    p Add the #[+code("flex")] class to container or container-fluid to add a flex context to the container.
