extends layout

block layout_content
  h3 Container
  p Use a container as a responsive container but with a max-width, allowing centered content page for your layout.

  .container
    p.col-example This content has a max width of 1200px but is responsive below that.

  h3 Fluid Container
  p If you want the page to resize while still having some left and right margin centering your content, use a fluid container.

  .container-fluid
    p.col-example This content is centered with no max-width.
