extends templates/base

block content
  h2 Forms
  section
    h3 Form helpers
    p
      | By default, form items will take up 100% width of their container.
      | Each set of fields should be wrapped in a field div.

    form
      .field
        label.label Example Input
        input.input
        small.helper Helper text to aid in filling in the form input.

      .field
        label.label Example Password
        input.input(type="password")

      .field
        label.label Example Dropdown
        .select
          select
            option Option 1
            option Option 2
            option Option 3

      .field
        label.label Example Checkboxes
        .checkbox
          input(type="checkbox")
          label.label Check 1
        .checkbox
          input(type="checkbox")
          label.label Check 2
        .checkbox
          input(type="checkbox")
          label.label Check 3
        .checkbox
          input(type="checkbox")
          label.label Check 4

      .field
        label.label Example Radio Buttons
        .radio-buttons
          .radio
            input#example-radio-1(type="radio" name="example-radio")
            label.label(for="example-radio-1") Radio 1
          .radio
            input#example-radio-2(type="radio" name="example-radio")
            label.label(for="example-radio-2") Radio 2
          .radio
            input#example-radio-3(type="radio" name="example-radio")
            label.label(for="example-radio-3") Radio 3

      .field
        label.label Example Stacked Radio Buttons
        .radio-buttons.stacked
          .radio
            input#example2-radio-1(type="radio" name="example2-radio")
            label.label(for="example2-radio-1") Radio 1
          .radio
            input#example2-radio-2(type="radio" name="example2-radio")
            label.label(for="example2-radio-2") Radio 2
          .radio
            input#example2-radio-3(type="radio" name="example2-radio")
            label.label(for="example2-radio-3") Radio 3

      .field
        label.label Example Textarea
        textarea

  section
    h3 Disabled

    form
      .field
        label.label Disabled Input
        input(disabled).input

      .field
        label.label Disabled Select
        .select
          select(disabled)
            option Option 1

      .field
        label.label Disabled Checkboxes
        .checkbox
          input(type="checkbox" disabled)
          label.label Check 1
        .checkbox
          input(type="checkbox" disabled)
          label.label Check 2

      .field
        label.label Disabled Radio Buttons
        .radio-buttons
          .radio
            input#example3-radio-1(type="radio" name="example3-radio" disabled)
            label.label(for="example3-radio-1") Radio 1
          .radio
            input#example3-radio-2(type="radio" name="example3-radio" disabled)
            label.label(for="example3-radio-2") Radio 2

  section
    h3 Form Validation

    form
      .field
        label.label Base Input
        input.input
      .field.primary
        label.label Primary Input
        input.input
      .field.success
        label.label Success Input
        input.input
        .validation Validation text!
        small.helper The helper text is unchanged.
      .field.warning
        label.label Warning Input
        input.input
        .validation Validation text!
      .field.danger
        label.label Danger Input
        input.input
        .validation Validation text!

  section
    h3 Form Groups
    p Put form elements inline by using the field-inline class.

    form
      .field-inline.columns
        label.label.col-3 Example Input
        input.input

      .field-inline.columns
        label.label.col-3 Example Password
        input.input(type="password")

      .field-inline
        .select
          select
            option Option 1
            option Option 2
            option Option 3

        .checkbox
          input(type="checkbox")
          label.label Check 1

        .radio-buttons
          .radio
            input#example4-radio-1(type="radio" name="example4-radio")
            label.label(for="example4-radio-1") Radio 1
          .radio
            input#example4-radio-2(type="radio" name="example4-radio")
            label.label(for="example4-radio-2") Radio 2

        input.input(type="password")
        button.primary Submit

  section
    h3 Attaching
    p Attach buttons to an input by using the attached class on a field.

    form
      .field-inline.attached.columns
        label.label.col-2 Username
        input.input
        button Check Availability
