extends templates/base

block content
  h2 Grid

  section
    h3 Columns
    p Add as many columns as you want, they will reflow as necessary.
    .grid
      .column
        p.col-example Column 1
      .column
        p.col-example Column 2

    .grid
      .column
        p.col-example 1
      .column
        p.col-example 2
      .column
        p.col-example 3
      .column
        p.col-example 4
      .column
        p.col-example 5
      .column
        p.col-example 6
      .column
        p.col-example 6
      .column
        p.col-example 5
      .column
        p.col-example 4
      .column
        p.col-example 3
      .column
        p.col-example 2
      .column
        p.col-example 1

    p You can also use modifiers like half, one-third and two-thirds, one-fourth and three-fourths, or the numeric col-1 through col-12.

    .grid
      .half
        p.col-example Column (half)
      .column
        p.col-example Column
      .column
        p.col-example Column
    .grid
      .column
        p.col-example Column
      .one-third
        p.col-example Column (one-third)
      .column
        p.col-example Column
      .column
        p.col-example Column

  section
    h3 Offsets

    p Use offsets like offset-3 or offset-10 to push content to the side.

    .grid
      .column.offset-3.half
        p.col-example Half-width col offset by 3
    .grid
      .column.offset-10
        p.col-example Col offset by 10
    .grid
      .column.one-fourth
        p.col-example Col width one fourth
      .column.offset-3.one-third
        p.col-example Third-width col offset by 3
