extends templates/base

block content
  section
    h2 About
    p Cardio is a simple CSS framework with some basic defaults to make styling a webpage easy.
    p You can find and/or contribute to this product through its #[+link("https://github.com/njgingrich/cardio", "github")] page.
