extends templates/base

block content
  section
    h3 About
    hr
    p Cardio is a simple CSS framework with some basic defaults to make styling a webpage easy.
    p You can find and/or contribute to this product through its #[+link("https://github.com/njgingrich/cardio", "github")] page.

  section
    h3 Usage
    hr
    p
      | Using Cardio is simple! Just download #[+code("cardio.css")] #[+link("https://raw.githubusercontent.com/njgingrich/cardio/master/docs/css/cardio.css", "here")]
      | and add it to the #[+code("<head>")] of your document like so:

    +code_block(`
    <html lang="en">
      <head>
        <link rel="stylesheet" href="css/cardio.css">
      </head>
    </html>
    `)
