extends templates/base

block content
  nav.navbar
    ul
      li
        +link("container.html", "Container")
      li
        +link("section.html", "Section")

  .container
    block layout_content
