extends templates/base

block content
  h2 Typography

  h3 Headings

  h1 H1 Header Text
  h2 H2 Header Text
  h3 H3 Header Text
  h4 H4 Header Text
  h5 H4 Header Text
  h6 H6 Header Text

  h3 Body Text

  h3 Sizing

  h3 Text Styling
